.wrapper {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow-y: scroll;
    width: 100%;
}

.wrapper .frame {
    background-color: white;
    border-radius: 1em;
    box-shadow: 22px 21px 49px 1px rgba(130, 130, 130, 1);
    display: flex;
    flex-direction: row;
    height: 70%;
    left: 50%;
    padding: 2em;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -70%);
    width: 70%;
}

.wrapper .frame .basic-info {
    margin-bottom: auto;
    margin-top: auto;
    width: 27%;
}

.wrapper .frame form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper .frame .image {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 90%;
    min-height: 21em;
    width: 100%;
}

.wrapper .frame .image img {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    max-height: 20em;
    max-width: 200px;
}

#file {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

#filelabel {
    color: white;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 0;
}

#filelabel:hover {
    color: red;
    cursor: pointer;
    font-size: 1.2em;
}

.wrapper .frame .input-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    width: 90%;
}

.wrapper .frame .input-info input {
    border: 1px solid #cccccc;
    font-size: 1em;
    height: 2.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;

}

.wrapper .frame .checkboxes {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: 60%;
}

.wrapper .frame .checkboxes .title {
    font-size: 1.2em;
    text-align: center;
}

.wrapper .frame .checkboxes .icons {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 70%;
    justify-items: center;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 70%;
}

.wrapper .frame .checkboxes .icons img {
    width: 5em;
}

.wrapper .frame .checkboxes input[type="checkbox"][id^="Checkbox"] {
    display: none;
}

:checked + label {
    border-color: #ddd;
}

:checked + label::before {
    background-color: green;
    color: white;
    content: "✓";
    transform: scale(1);
}

:checked + label img {
    box-shadow: 0 0 5px #333;
    transform: scale(0.9);
    z-index: -1;
}

.wrapper .frame .checkboxes .buttons {
    display: flex;
    justify-content: space-around;
}

.wrapper .frame .checkboxes .buttons button {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    border: 2px solid black;
    border-radius: 1em;
    color: white;
    padding: 0.8em;
    width: 30%;
}

.wrapper .frame .checkboxes .buttons button:hover {
    background: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

