* {
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/*----------LEFT SIDE---------------*/
.container .logo {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 15em;
    width: 50%;
}

.container .logo img {
    align-self: center;
    display: flex;
    height: 13em;
    margin: auto;
    margin-bottom: 0;
    width: 13em;
}

.container .logo .logo_name {
    align-self: center;
    color: white;
    font-size: 3.5em;
    margin: auto;
    margin-top: 0;
}

.container .login-form {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 50%;
}

/*--------------RIGHT SIDE-------------*/

.container .login-form {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-right: 5em;
    width: 50%;
}

.container .login-form .login_label {
    color: white;
    font-size: 3em;
    margin: auto;
    margin-bottom: 0.8em;
    margin-top: 3em;
}

.container .login-form .login_error_info {
    color: red;
    font-size: 1em;
    margin: auto;
    margin-bottom: 0.8em;
    margin-top: 0;
}

.container .login-form form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 0.8em;
    width: 50%;
}

.container .login-form form input {
    background: transparent;
    border: 2px solid #FFFFFFFC;
    border-radius: 2em;
    color: white;
    font-size: 1.2em;
    margin-bottom: 2.5em;
    outline: none;
    padding: 1em;
    padding-left: 1.5em;
    width: 100%;
}

.container .login-form form input:focus {
    box-shadow: 0 0 8px 0 white;
}

::placeholder {
    color: white;
    font-size: 1em;
}

.container .login-form form button {
    align-self: center;
    background: transparent;
    border: 2px solid #FFFFFFFC;
    border-radius: 4em;
    display: flex;
    outline: none;
    padding: 1.7em 2.4em 1.7em 1.7em;
    width: 10%;
}

.container .login-form form button:hover {
    box-shadow: 0 0 8px 0 white;
}

.container .login-form form button i {
    color: white;
    font-size: 1em;
}

.container .login-form .facebook {
    align-items: center;
    align-self: center;
    background: transparent;
    border: 2px solid #FFFFFFFC;
    border-radius: 1.5em;
    color: white;
    display: flex;
    font-size: 1em;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 0.8em;
    outline: none;
    padding: 1em;
    width: 50%;
}

.container .login-form .facebook i {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 1em;
}

.container .login-form a {
    align-self: center;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 0.8em;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container .logo {
        padding-left: 2em;
        width: 40%;
    }

    .container .logo img {
        height: 8em;
        width: 8em;
    }

    .container .logo .logo_name {
        font-size: 2.2em;
    }

    .container .login-form {
        padding-right: 3em;
        width: 60%;
    }

    .container .login-form .login_label {
        font-size: 2em;
        margin-top: 5em;
    }

    .container .login-form form {
        width: 70%;
    }

    .container .login-form .facebook {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .container .logo {
        flex-direction: row;
        height: 10%;
        margin-top: 2em;
        padding-left: 0;
        width: 100%;
    }

    .container .logo img {
        height: 6em;
        margin-right: 0;
        width: 6em;
    }

    .container .logo .logo_name {
        font-size: 2em;
        margin: auto;
        margin-left: 0.5em;
        margin-top: 1em;
    }

    .container .login-form {
        height: 80%;
        width: 100%;
    }

    /*--------------RIGHT SIDE-------------*/
    .container .login-form {
        padding-right: 0;
        width: 100%;
    }

    .container .login-form .login_label {
        color: white;
        font-size: 2em;
        margin-top: 4em;
    }

    .container .login-form form {
        margin-bottom: 1em;
        margin-top: 1em;
        width: 80%;
    }

    .container .login-form form input {
        font-size: 1em;
        margin-bottom: 2em;
    }

    .container .login-form .facebook {
        font-size: 0.8em;
        margin-bottom: 2.5em;
        margin-top: 5em;
        width: 80%;
    }

    .container .login-form a {
        font-size: 0.8em;
    }
}