.wrapper {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow-y: scroll;
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5em 1fr 1fr 5em;
    width: 50%;

}

.latest {
    border-right: solid 2px #cccccc;
}

.box {
    align-self: center;
    height: 20em;
    justify-self: center;
    width: 15em;
}

.pic {
    background: aqua;
    height: 75%;
    width: inherit;
}

.pic img {
    height: auto;
    width: inherit;
}

.bar {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: inherit;
}

.label {
    font-size: 1.3em;
    grid-area: 4/1/5/3;
    justify-self: end;
    margin-right: 3em;
}

section .section_name {
    font-size: 1.5em;
    font-weight: bold;
    grid-area: 1/1/2/3;
    justify-self: center;
    padding-top: 1em;
}

.bar .name {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 65%;
}

.bar .name .item {
    font-size: 0.7em;
}

.bar .icons .likes {
    margin-bottom: 0.5em;
}

.bar .icons {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    text-align: end;
}

.bar .icons .likes i {
    color: red;
}

.bar .icons .comments i {
    color: blue;
}

.label label {
    margin-right: 1em;
}

.label:hover {
    color: grey;
    cursor: pointer;
    font-size: 1.5em;
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    section {
        grid-row-gap: 2em;
        width: 100%;

    }

    .latest {
        border-bottom: solid 2px #cccccc;
        border-right: none;
    }

    .yours {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    section {
        grid-row-gap: 2em;
        width: 100%;

    }

    .latest {
        border-bottom: solid 2px #cccccc;
        border-right: none;
    }

    .yours {
        margin-top: 1em;
    }

    .box {
        height: 15em;
        width: 10em;
    }

    .pic {
        height: 65%;
    }

    .label {
        font-size: 1.2em;
    }

    section .section_name {
        font-size: 1.3em;
    }

    .bar .name .company {
        font-size: 0.9em;
    }

    .bar .name .item {
        font-size: 0.6em;
    }

    .bar .icons .likes {
        margin-bottom: 0.5em;
    }

    .bar .icons {
        margin-left: 0.5em;
    }

    .label label {
        margin-right: 0.5em;
    }

    .label:hover {
        font-size: 1.3em;
    }

    .bar .icons span {
        font-size: 0.7em;
    }
}