* {
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;

}

header .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 5em;
    width: auto;
}

header img {
    height: auto;
    width: 7em;
}

header label {
    color: white;
    font-size: 2em;
}

header {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    height: 7em;
    width: 100%;
}

ul#navigation {
    left: 0px;
    list-style: none;
    margin: 0px;
    margin-top: 8em;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

ul#navigation li a:hover {
    margin-left: -0.2em;
    transition: 0.5s;
}
ul#navigation li{
    display: flex;
    flex-direction: row;
}
ul#navigation li a {
    background-color: black;
    border: 1px solid #283556;
    -khtml-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius: 0px 10px 10px 0px;
    -khtml-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    display: block;
    height: 4em;
    margin-bottom: 1em;
    margin-left: -9.8em;
    opacity: 1;
    padding-top: 1.2em;
    text-align: right;
    width: 13.5em;
    color: white;
    padding-right: 1em;
    }

ul#navigation li a label{
    margin-right: 1.5em;
    text-align: right;
}
ul#navigation li a i {
    color: white;
    font-size: 1.5em;
    text-align: left;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    header img {
        width: 5em;
    }

    header label {
        font-size: 1.5em;
    }

    ul#navigation li a:hover {
        margin-left: -0.2em;
        transition: 0.5s;
    }

    ul#navigation li a {
        height: 3em;
        margin-bottom: 0.5em;
        margin-left: -2.3em;
        opacity: 1;
        padding-top: 1em;
        text-align: center;
        width: 3em;
    }

    ul#navigation li a i {
        font-size: 1em;
    }

}