.wrapper {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.wrapper .frame {
    background-color: white;
    border-radius: 1em;
    box-shadow: 22px 21px 49px 1px rgba(130, 130, 130, 1);
    display: flex;
    flex-direction: row;
    height: 70%;
    left: 50%;
    padding: 2em;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -70%);
    width: 70%;

}

#main_menu {
    height: 100%;
    margin-right: 2em;
    width: 30%;
}


.profile-info {
    text-align: center;
    height: 50%;
}

#main_menu img {
    margin-top: 1em;
    width: 10em;
    height: auto;
}

.numbers {
    display: flex;
    color: black;
    justify-content: center;
    font-size: 0.9em;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.numbers .numberof {
    display: flex;
    flex-direction: column;
    margin-right: 1.5em;
    width: 25%;
}

.profile-info .numbers hr {
    margin-right: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 1em;
}

.info .name {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.info .email {
    font-size: 0.9em;
}

.submenu {
    height: 44%;
    text-align: center;
    margin-top: 3em;
}

.submenu ul {
    height: 100%;
}

.submenu button {
    color: black;
    font-size: 1.1em;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 3em;
}

.submenu button:hover {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    font-size: 1.1em;
    letter-spacing: 0.15em;
    color: white;
    height: 2.5em;
    width: 75%;
    transition: 0.5s;
    cursor: pointer;

}

#line {
    align-self: center;
    border-left: 2px solid #cccccc;
    height: 80%;
}

/*-------------------SETTINGS------------------------*/
#settings {
    display: none;
}

/*---------------------FEEDBACK-------------------*/

#feedback {
    display: none;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 2em;
    width: 100%;
    height: 100%;
}

#feedback .mainlabel {
    font-size: 1.2em;
}

#feedback form {
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

#feedback form label {
    font-size: 1em;
}

#feedback input {
    width: 70%;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
}

#feedback textarea {
    width: 100%;
    height: 40%;
    margin-top: 0.5em;
    padding: 0.5em;
}
#feedback button{
    margin-top: 1em;
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    border: 2px solid black;
    border-radius: 1em;
    color: white;
    padding: 0.5em;
    width: 30%;
    margin: auto;

}
#feedback button:hover {
    cursor: pointer;
    padding: 0.8em;
}
/*------------------------POLICY-------------------*/

#policy {
    width: inherit;
    height: 100%;
    display: none;
}

