* {
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/*////////////LEFT SIDE//////////////*/
.container .left-side {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 5em;
    width: 50%;
}

.container .left-side .logo {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.container .left-side .logo img {
    height: 13em;
    width: 13em;
}

.container .left-side .logo .logo_name {
    align-self: center;
    color: white;
    font-size: 3em;
}

.container .left-side .welcome_text {
    color: white;
    font-size: 2em;
    margin: auto;
    margin-right: 0;
    margin-top: 7em;
    width: 16em;
}

/*//////////////RIGHT SIDE////////////*/
.container .right-side {
    display: flex;
    height: inherit;
    padding-right: 5em;
    width: 50%
}

.container .right-side form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.container .right-side form label {
    color: white;
    font-size: 1.3em;
}

.container .right-side form input {
    background: white;
    border: 1px solid #BCE0FD;
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    outline: none;
    padding: 0.5em;
}

::placeholder {
    color: black;
}

.container .right-side form input:focus {
    background: transparent;
    box-shadow: 0 0 8px 0 white;
    color: white;
}

.container .right-side form .continue {
    background: #3E5678;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-top: 2em;
    outline: none;
    padding: 0.6em;
}

.container .right-side form .continue:hover {
    background: transparent;
    box-shadow: 0 0 8px 0 white;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    /*////////////LEFT SIDE//////////////*/
    .container .left-side {
        height: auto;
        padding-left: 2em;
        width: 100%;
    }

    .container .left-side .logo {
        margin-top: 1em;
    }

    .container .left-side .logo img {
        height: 10em;
        width: 10em;
    }

    .container .left-side .logo .logo_name {;
        font-size: 2em;
    }

    .container .left-side .welcome_text {
        font-size: 1.5em;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
        width: auto;
    }

    /*//////////////RIGHT SIDE////////////*/
    .container .right-side {
        padding-right: 0;
        width: 100%
    }

    .container .right-side form {
        margin-top: 1em;
    }


}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    /*////////////LEFT SIDE//////////////*/
    .container .left-side {
        height: auto;
        padding-left: 0;
        width: 100%;
    }

    .container .left-side .logo {
        margin-top: 1em;
        padding-left: 2em;
    }

    .container .left-side .logo img {
        height: 8em;
        width: 8em;
    }

    .container .left-side .logo .logo_name {;
        font-size: 1.5em;
    }

    .container .left-side .welcome_text {
        font-size: 1.3em;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
        width: 80%;
    }

    /*//////////////RIGHT SIDE////////////*/
    .container .right-side {
        padding-right: 0;
        width: 100%
    }

    .container .right-side form {
        margin-top: 1em;
    }

    .container .right-side form label {
        font-size: 1em;
    }

    .container .right-side form input {
        font-size: 1em;
    }

    .container .right-side form .continue {
        font-size: 1em;
    }

}
