.wrapper {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow-y: scroll;
    width: 100%;
}
button{
    outline: none;
}

.wrapper .frame {
    background-color: white;
    border-radius: 1em;
    box-shadow: 22px 21px 49px 1px rgba(130, 130, 130, 1);
    display: flex;
    flex-direction: row;
    height: 70%;
    left: 50%;
    padding: 2em;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -70%);
    width: 70%;
}

.wrapper .frame .search-input {
    height: 100%;
    margin-right: 2em;
    width: 30%;
}

.wrapper .frame .search-input .info {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 4em;
    text-align: center;
}

.wrapper .frame .search-input form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4em;
    width: 70%;

}

.wrapper .frame .search-input form input {
    background: transparent;
    border: 1px solid black;
    color: black;
    margin-bottom: 1em;
    padding: 0.8em;
}

.wrapper .frame .search-input button {
    background: transparent radial-gradient(closest-side at 50% 50%, #3D5788 0%, #0C0816 100%) 0% 0% no-repeat padding-box;
    border: 2px solid black;
    border-radius: 1em;
    color: white;
    margin: auto;
    margin-top: 2em;
    padding: 0.8em;
    width: 90%;
}

.wrapper .frame .search-input button:hover {
    background: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.wrapper .frame .search-input .add-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4em;
    text-align: center;
    width: 90%;
}

.wrapper .frame .search-input .add-info button {
    margin-top: 1em;
}

.wrapper .frame .line {
    align-self: center;
    border-left: 2px solid #cccccc;
    height: 80%;

}

.wrapper .frame .results {
    display: grid;
    grid-auto-rows: 15em;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-left: 2em;
    padding: 1em;
    width: 70%;
    overflow-y: scroll;
}

.wrapper .frame .results .box {
    align-self: center;
    height: 13em;
    justify-self: center;
    width: 10em;
}

.wrapper .frame .results .pic {
    height: 77%;
    width: inherit;
}

.wrapper .frame .results .pic img {
    height: auto;
    width: inherit;
}

.wrapper .frame .results .bar {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: inherit;
}

.wrapper .frame .results .bar .name {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 65%;
}

.wrapper .frame .results .bar .name .company {
    font-size: 0.8em;
}

.wrapper .frame .results .bar .name .item {
    font-size: 0.6em;
}

.wrapper .frame .results .bar .icons .likes {
    margin-bottom: 0.5em;
}

.wrapper .frame .results .bar .icons {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    text-align: end;
}

.wrapper .frame .results .bar .icons {
    font-size: 0.7em;
}

.wrapper .frame .results .bar .icons .likes i {
    color: red;
}

.wrapper .frame .results .bar .icons .comments i {
    color: blue;
}


/*tablet*/
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .wrapper .frame {
        width: 85%;
    }

    .wrapper .frame .search-input .info {
        margin-top: 3em;

    }

    .wrapper .frame .results {
        width: 60%;
        overflow-y: scroll;
    }

}

@media only screen and (min-width: 500px) and (max-width: 1000px) {

    .wrapper .frame {
        width: 80%;
    }

    .wrapper .frame .search-input .info {
        font-size: 1.2em;
        margin-top: 3em;
    }

    .wrapper .frame .search-input form {
        margin-top: 3em;
        width: 80%;
    }


    .wrapper .frame .search-input .add-info {
        margin-top: 3em;
    }

    .wrapper .frame .results {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*telefon*/
@media only screen and (min-width: 0px) and (max-width: 650px) {
    .wrapper .frame {
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 70%;
        overflow-y: scroll;
    }

    .wrapper .frame .search-input {
        height: 80%;
        margin-right: 2em;
        width: 100%;
    }

    .wrapper .frame .search-input .info {
        font-size: 1em;
        margin-top: 1em;
    }

    .wrapper .frame .search-input form {
        margin-top: 1.5em;
        width: 70%;

    }

    .wrapper .frame .search-input button {
        margin-top: 1em;
    }

    .wrapper .frame .search-input .add-info {
        margin-top: 2em;

    }
    .wrapper .frame .search-input .add-info button {
        margin-top: 1em;
    }

    .wrapper .frame .line {
        margin-top: 3em;
        margin-bottom: 2em;
        border-bottom: 2px solid #cccccc;
        border-left: none;
        width: 80%;
        height: 0;
    }

    .wrapper .frame .results {
        grid-template-columns: repeat(1, 1fr);
        overflow-y: unset;
    }
}